@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700&family=Markazi+Text:wght@400;500;600;700&display=swap");

/* variables*/

:root {
  --white: #fff;
  --black: #333333;
  --gray: #edefee;
  --green: #495e57;
  --yellow: #f4ce14;
  --strong-salmon: #ee9972;
  --light-salmon: #fbdabb;
  --karla: "Karla", sans-serif;
  --markazi: "Markazi Text", serif;
}

/* RESET AND INPUT STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

input,
select,
textarea {
  font-family: var(--karla);
  font-size: 1em;
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  height: fit-content;
}

input:focus,
select:focus,
textarea:focus {
  outline: solid var(--strong-salmon);
}

/* HEADER */

.header {
  background-color: var(--white);
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 60px;
}

.logo {
  display: inline-block;
  color: var(--black);
  width: 25px;
  height: fit-content;
  margin-left: 20px;
}

.nav {
  width: 100%;
  position: fixed;
  background-color: var(--white);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
  top: 59px;
}

.menu a {
  display: block;
  padding: 15px;
  color: var(--black);
  font-family: var(--karla);
  font-weight: 600;
}

.menu a:hover {
  color: var(--strong-salmon);
  transition: all 0.3s ease-in-out;
}

/* Menu Icon */

.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}

/* Style label tag */

.hamb-line {
  background: var(--black);
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

/* Style span tag */

.hamb-line::before,
.hamb-line::after {
  background: var(--black);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

/* Hide checkbox */

.side-menu {
  display: none;
}

/* Toggle menu icon */

.side-menu:checked ~ nav {
  max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

/* MAIN CONTENT */

/* DATE AND TIME, DINERS AND COMMENTS SECTION */

.book-content {
  background-color: var(--green);
  width: 100%;
  margin: 0 auto;
  padding: 5%;
}

.book-content h1 {
  color: var(--white);
  text-align: center;
  font-size: 25pt;
  font-family: var(--markazi);
}

.sections {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sections label,
.comments-content label {
  font-family: var(--karla);
  font-weight: 400;
  margin: 2% 0;
  font-size: 14pt;
  color: var(--white);
}

.comments-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#comments {
  width: 100%;
  height: 100px;
}

.astrix {
  color: red;
}

input[type="submit"] {
  color: var(--white);
  background-color: var(--black);
  margin-top: 20px;
  max-width: 200px;
  font-weight: 600;
  padding: 10px;
}

input[type="submit"]:hover {
  color: var(--black);
  font-weight: 700;
  background-color: var(--white);
  transition: all 0.2s ease-in-out;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
  bottom: 0;
  max-width: 1280px;
  margin: 0 auto;
  flex-direction: column;
}

.footer a {
  color: var(--black);
  font-family: var(--karla);
}

.column {
  align-self: center;
  text-align: center;
  padding: 10px;
}

.footer-image {
  max-width: 200px;
  align-self: center;
}

.timebutton {
  padding: 10px 15px;
  margin: 0 10px 10px 0;
  border: 1px solid var(--black);
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
}

@media (min-width: 768px) {
  .book-content {
    padding: 5% 10%;
  }
  .header {
    padding: 10px 0;
  }
  .nav {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
  }
  .logo {
    content: url(./logodesktop.png);
    width: 180px;
    padding: 10px;
  }
  .menu li {
    float: left;
  }

  .hamb {
    display: none;
  }

  .footer {
    justify-content: space-evenly;
    flex-direction: row;
  }

  .column {
    align-self: start;
    text-align: start;
  }
}

@media (min-width: 1280px) {
  .header {
    padding: 10px 20%;
  }
  .logo {
    margin-left: 0;
  }

  .book-content h1 {
    font-size: 36pt;
  }
  .sections {
    width: 73%;
    margin: 2% auto;
  }

  #comments {
    width: 100%!important;
  }
  .comments-content {
    width: 73%;
    margin: 2% auto;
  }
  .sections h4,
  .comments-content h4 {
    font-size: 16pt;
  }
}

@media (min-width: 1920px) {
  .nav {
    right: 10%;
  }
  .logo {
    margin-left: 10px;
  }
  
}
